<%= turbo_frame_tag :quizz do %>

<%# <div class="container-custom"> %>
<div class="frame glow-light">

<div class="progress-bar">
    <div class="progress" style="width: 10%;"></div>
  </div>

<div class="question-block mb-4 quizz-content" data-quizz-validated-value="<%=@question.validated?%>" data-quizz-correct-answer-value="<%= @question.answer_true %>", data-controller="quizz"
data-quizz-url-value="/contents/<%= @question.content.id%>/questions/<%= @question.id%> ">
<p>Question <%= @questions.index(@question) + 1 %> of <%=@questions.count%></p>
  <h5><%= @question.statement%></h5>
  <p>Answers</p>
  <%# <% if !@question.validated? %>

    <% [@question.answer_true, @question.answer_1, @question.answer_2, @question.answer_3].shuffle.each_with_index do |answer, index| %>

      <%= simple_form_for @question do |f| %>
        <div class="d-none">

      <%= f.input :validated, input_html: { checked: answer == @question.answer_true } %>
        </div>
      <%# <%= f.submit answer, class: "btn btn-primary mt-2" %>
      <button data-action="quizz#selectAnswer" type="submit" name="answer" value="<%= answer %>" class="answer-button" data-quizz-target="answerButton">
        <div>
          <span class="answer-letter"><%= ('A'.ord + index).chr %></span>
        </div>
        <%= answer %>
      </button>


      <% end %>
    <% end %>

  <div class="explanation d-none" data-quizz-target="explanation">
    <p>Explanation</p>
    <p id="Explanation"><%= @question.explanation %></p>

  </div>
<div class="d-flex justify-content-center">

  <% if @previous_question %>
    <%= link_to "PREVIOUS QUESTION", content_question_path(@previous_question.content, @previous_question), class: "green-round-button mt-3 me-2" %>
  <% end %>
  <% if @next_question %>
    <%= link_to "NEXT QUESTION", content_question_path(@next_question.content, @next_question), class: "green-round-button mt-3" %>
  <% else %>
    <%= link_to "SHOW RESULT", results_content_path(@question.content), class: "green-round-button mt-3" %>
  <% end %>
  <% end %>
</div>
</div>
</div>
