<% notes.each do |note| %>
  <div id="note_<%= note.id %>" class="content-card note-card-spacing">
    <div class="content-card-infos">
      <div class="note-header note-header--split">
        <span class="note-time-left">
          <% if note.video_timestamp.present? %>
            <% t = note.video_timestamp.split(":").map(&:to_i) %>
            <% seconds = t[0] * 60 + (t[1] || 0) %>
            <a href="https://www.youtube.com/watch?v=<%= youtube_id(@content.url) %>&t=<%= seconds %>s" target="_blank" class="note-timestamp-link">
              ⏱ <%= note.video_timestamp %>
            </a>
          <% else %>
            @<%= note.created_at.in_time_zone('Paris').strftime("%H:%M") %>
          <% end %>
        </span>
        <span class="note-time-right">
          <%= I18n.with_locale(:en) { time_ago_in_words(note.created_at.in_time_zone('Paris')) } %>
        </span>
      </div>

      <div class="note-body">
        <p><%= note.description %></p>
      </div>

      <div class="note-footer">
        <%= link_to "Delete", content_note_path(note.content, note),
                    class: "btn red-round-button",
                    data: { turbo_method: :delete, turbo_confirm: "Are you sure ?" } %>
      </div>
    </div>
  </div>
<% end %>
