<% notes.each do |note| %>
  <div id="note_<%= note.id %>" class="content-card note-card-spacing">
    <div class="content-card-infos">
      <div class="note-header note-header--split">
        <span class="note-time-left">
          <% if note.video_timestamp.present? %>
            ⏱ <%= note.video_timestamp %>
          <% else %>
            @<%= note.created_at.in_time_zone('Paris').strftime("%H:%M") %>
          <% end %>
        </span>

        <span class="note-time-right">
          <%= I18n.with_locale(:en) { time_ago_in_words(note.created_at.in_time_zone('Paris')) } %>
        </span>
      </div>

      <div class="note-body">
        <p><%= note.description %></p>
      </div>

      <div class="note-footer">
        <%= link_to content_note_path(note.content, note),
                    class: "trash-button",
                    data: { turbo_method: :delete, turbo_confirm: "Are you sure ?" } do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
