<%= link_to content_path(content), class: "content-card glow-light", style: "text-decoration: none; color: inherit;", data: { turbo_frame: :_top } do %>
  <% if content.thumbnail.present? %>
    <%= image_tag content.thumbnail, class: "card-img-top thumbnail-even", alt: content.name %>
  <% end %>
  <div class="content-card-infos">
    <h2><%= (content.name&.downcase&.capitalize&.truncate(48, omission: "...")) || "Nom non disponible" %></h2>
    <div class="d-flex gap-2">

    <span class="small-round-button btn-green <%= 'green-round-button' if content.summary_done %>">SUMMARY</span>
    <span class="small-round-button btn-green <%= 'green-round-button' if content.questions.where(validated: true).count == content.questions.count && content.questions.count > 0 %>">QUIZZ</span>
    </div>
</div>
<div class="progress-percent">
<p class="mb-0"><%= "#{content.percent_validated}%"  %></p>
</div>
<div class="progress-bar-content">
  <div class="progress-content" style="width: <%= content.percent_validated %>%">
  </div>
</div>
<% end %>
