<!-- HERO SECTION START -->

<div class="hero-section">
  <div class="container-custom">
    <div class="hero-content">
      <div class="text-content">

        <h1 class="hero-title">
          Learn<br>
          Everything<br>
          Faster
        </h1>
        <p class="hero-subtitle">
          Unlock deeper learning from<br>
          your favorite content.
        </p>

        <%= form_with model: @content, local: true, class: 'hero-form' do |form| %>
          <%= form.url_field :url, class: 'url-input', placeholder: 'Enter URL', required: true %>
          <%= form.submit 'START NOW', class: 'cta-button glow' %>
        <% end %>
      </div>

      <div class="hero-visual">
        <div class="light-beam"></div>
        <div class="light-glow"></div>
      </div>
    </div>
  </div>
</div>

<!-- HERO SECTION END -->

<div class="container-custom">

  <!-- CARD SECTION START -->


  <h3>Latest Content</h3>
  <%= turbo_frame_tag :content do %>
    <div class="content-carousel">
      <div class="content-row">
        <% if @contents.empty? %>
          <h3>No results</h3>
        <% end %>
        <% @contents.each do |content| %>
         <%= render partial: "content_card", locals: { content: content } %>
        <% end %>
        <!-- CARD SECTION END -->
        <%# CARDS %>
      </div>
    </div>
  <% end %>

  <% if @personal_playlists.present? %>
    <h2>🎧 Own playlist(s)</h2>
    <% @personal_playlists.each do |tag, contents| %>
      <h3><%= tag.name %></h3>
      <%= turbo_frame_tag "playlist_#{tag.id}" do %>
        <div class="content-carousel">
          <div class="content-row">
            <% contents.each do |content| %>
              <%= render partial: "content_card", locals: { content: content } %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>


</div>
