<!-- HERO SECTION START -->
<% if flash[:alert] %>
  <div
    data-controller="flash"
    data-flash-timeout-value="3000"
    class="red-round-button fade-out flash-overlay"
  >
    <%= flash[:alert] %>
  </div>
<% end %>
<% if flash[:success] %>
  <div
    data-controller="flash"
    data-flash-timeout-value="3000"
    class="green-round-button fade-out flash-overlay"
  >
    <%= flash[:success] %>
  </div>
<% end %>
<div class="hero-section">
  <div class="container-custom">

    <div class="hero-content">
      <div class="text-content">

        <h1 class="hero-title">
          Learn<br>
          Everything<br>
          Faster
        </h1>
        <p class="hero-subtitle">
          Unlock deeper learning from<br>
          your favorite content.
        </p>

        <%= form_with model: @content,
            local: true,
            data: {controller: "form-submit", action: "turbo:submit-start->form-submit#disable turbo:submit-start->form-submit#showModal"},
            class: 'hero-form' do |form| %>
          <%= form.url_field :url, class: 'url-input', placeholder: 'Enter URL', required: true %>
          <%= form.submit 'START NOW', class: 'cta-button glow',
            data: {form_submit_target: "submit" } %>
        <% end %>
      <%= turbo_frame_tag :modal, id: "modal" do %>
      <% end %>
      </div>
      <div class="hero-visual">
        <div class="light-beam"></div>
        <div class="light-glow"></div>
      </div>
    </div>
  </div>
</div>

<!-- HERO SECTION END -->

<div class="container-custom">

  <!-- CARD SECTION START -->


  <h3>Latest Content</h3>
  <%= turbo_frame_tag :content do %>
    <div class="content-carousel">
      <div class="content-row">
        <% if @contents.empty? %>
          <h3>No results</h3>
        <% end %>
        <% @contents.each do |content| %>
         <%= render partial: "content_card", locals: { content: content } %>
        <% end %>
        <!-- CARD SECTION END -->
        <%# CARDS %>
      </div>
    </div>
  <% end %>

  <hr class="my-separator" />

  <% if @personal_playlists.present? %>
    <% @personal_playlists.sort_by { |tag, contents| -contents.size }.each do |tag, contents| %>
      <h3><%= tag.name %></h3>
      <%= turbo_frame_tag "playlist_#{tag.id}" do %>
        <div class="content-carousel">
          <div class="content-row">
            <% contents.each do |content| %>
              <%= render partial: "content_card", locals: { content: content } %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>


</div>
