<div class="container">
  <div class="mt-5">
    <%= form_with model: @content, local: true do |form| %>
      <%= form.url_field :url, class: 'form-control', placeholder: 'Enter URL https://example.com', required: true %>
      <%= form.submit 'Start now', class: 'btn btn-primary w-100' %>
    <% end %>
  </div>
  <h1 class="mt-5">Progress</h1>
  <h1 class="mt-5">Video(s)</h1>
  <div class="mt-5">
    <%= form_with url: contents_path, method: :get, local: true do %>
      <%= label_tag :query, "Search a content or tag :" %>
      <%= text_field_tag :query, params[:query], placeholder: "Name or tag...", class: "form-control" %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="row row-cols-2 g-2 mt-5">
    <% @contents.each do |content| %>
      <div class="col">
        <div class="card h-100">
          <% if content.thumbnail.present? %>
            <%= image_tag content.thumbnail, class: "card-img-top thumbnail-even", alt: content.name %>
          <% end %>
          <div class="card-body p-2">
            <h5 class="card-title" style="font-size: 0.8rem;">
              <%= content.name&.downcase&.capitalize || "Nom non disponible" %>
            </h5>
            <%= link_to 'See more', content_path(content), class: 'btn btn-primary btn-sm' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
