<div data-controller="toggle-section" class="b">
  <% if @content.thumbnail.present? %>
    <div class="video-thumbnail-container">
      <%= image_tag @content.thumbnail,
        class: "img-fluid w-100 thumbnail",
        data: { action: "click->toggle-section#toggle", target_id: "video-section" },
        style: "cursor: pointer;" %>
      <div id="video-section"
           data-toggle-section-target="section"
           class="video-overlay"
           style="display: none;">
        <% if (src = youtube_embed_url(@content.url)) %>
          <div class="video-container">
            <iframe
              src="<%= src %>"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
          <button
            type="button"
            class="btn small-round-button"
            data-action="click->toggle-section#hide"
            data-target-id="video-section">
            ← Retour
          </button>
        <% else %>
          <p>Impossible d'extraire l'ID YouTube depuis l'URL !</p>
        <% end %>
      </div>
    </div>
  <% end %>

  <!-- À voir si on garde -->
  <!-- <div class="container-custom" data-controller="toggle-section"> -->
  <!-- <p><em>Durée : <%= format_duration(@content.duration) %></em></p> -->
  <!-- </div> -->

  <div class="container-custom" data-controller="toggle-section">
    <div>
      <%= link_to 'EDIT', edit_content_path(@content), class: 'button-custom' %>
    </div>
    <h1><%= @content.name %></h1>
    <br>
    <!-- À voir si on garde -->
    <!-- <p>Language <strong><%= @content.language %></strong></p> -->
    <!-- <p>This content is <%= @content.duration %> min long</p> -->
    <div class="button-row">
      <!-- Section bouton -->
      <%= button_tag 'SUMMARY', type: 'button', class: 'small-round-button', data: { action: "toggle-section#toggle", target_id: "summary-section" } %>
      <%= button_tag 'QUIZZ', type: 'button', class: 'small-round-button', data: { action: "toggle-section#toggle", target_id: "quizz-section" } %>
      <%= button_tag 'ASK IA', type: 'button', class: 'small-round-button', data: { action: "toggle-section#toggle", target_id: "#" } %>
      <%= button_tag 'NOTES', type: 'button', class: 'small-round-button', data: { action: "toggle-section#toggle", target_id: "#" } %>
    </div>
    <br>
    <!-- Sections -->
    <div id="summary-section" class="summary-text" data-toggle-section-target="section" style="display: none;">
      <h1><%= @content.name %></h1>
      <%= raw @content.summary[7..-4] if @content.summary %>
    </div>
    <!-- QUIZZ Dynamique -->
    <div id="quizz-section"
      data-controller="quiz-loader"
      data-quiz-loader-url-value="<%= generate_question_content_path(@content) %>"
      data-toggle-section-target="section"
      style="display: none;">
        <h2>Quiz questions</h2>
    <div id="quiz-container"></div>

    <div class="mt-3">
      <%# <button data-action="quiz-loader#generateQuestion" class="btn btn-primary">Next Question</button> %>
      <%= button_to 'Générer une question', generate_question_content_path(@content), method: :post, class: 'small-round-button' %>
    </div>
  </div>
</div>
