<div data-controller="toggle-section" class="b">


  <% if @content.thumbnail.present? %>
    <div class="video-thumbnail-container">
      <%= image_tag @content.thumbnail,
        class: "img-fluid w-100 thumbnail",
        data: { action: "click->toggle-section#toggle", target_id: "video-section" },
        style: "cursor: pointer;" %>

      <!-- Superposition de la vidéo -->
      <div id="video-section"
        data-toggle-section-target="section"
        class="video-overlay hidden">
        <% if (src = youtube_embed_url(@content.url)) %>
          <div class="video-container">
            <iframe
              src="<%= src %>"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        <% else %>
          <p>Impossible d'extraire l'ID YouTube depuis l'URL !</p>
        <% end %>
      </div>
    </div>
  <% end %>

  <!-- Espacement -->
  <div class="spacing-elements"></div>

  <!-- création du container -->

    <div class="container-custom">

  <!-- Espacement -->
  <%= turbo_frame_tag :content_title do %>
        <h1 class="title-show">
          <span class="title-text">
            <%= @content.name.truncate(50, omission: "...") %>
            <%= link_to edit_content_path(@content), class: 'edit-custom-button', data: { action: "toggle-section#toggle", turbo_frame: :content_title, toggle_section_target: "button" }, style: "display: inline;" do %>
            <i id="edit-pen" class="fa-solid fa-pen"></i>
            <% end %>
          </span>
          </span>
        </h1>
  <% end %>


  <%= turbo_stream_from "content_#{@content.id}_tags" %>
    <div class="tag-custom-container">
    <% if @content.tags.blank? %>
      <div class = loading-bar></div>
      <p class="tag-loading-fsize">Loading tags...</p>
    <% else %>
     <%= render "tags/button_tags" %>
    <% end %>
    </div>

  <!-- Container custom -->
      <div class="spacing-elements"></div>
        <div class="carousel-container">
          <div class="button-row button-carousel-slider">
            <%= button_tag 'SUMMARY', type: 'button', class: 'small-round-button', data: { action: "toggle-section#toggle", target_id: "summary-section", toggle_section_target: "button" } %>
            <%= button_tag 'QUIZZ', type: 'button', class: 'small-round-button', data: { action: "toggle-section#toggle", target_id: "quizz-section", toggle_section_target: "button" } %>
            <%= button_tag 'ASK IA', type: 'button', class: 'small-round-button', data: { action: "toggle-section#toggle", target_id: "askia-section", toggle_section_target: "button" } %>
            <%= button_tag "NOTES (#{@content.notes.count})", type: 'button', class: 'small-round-button', data: { action: "toggle-section#toggle", target_id: "notes-section", toggle_section_target: "button" } %>
            <%= link_to 'DELETE', content_path(@content), class: 'red-round-button',
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </div>
        </div>


  <!-- Sections Summary-->
  <%#  stimulus pour un spinner temp que summary pas encore chargé %>

    <%= turbo_stream_from "content_#{@content.id}_details" %>
    <div id="summary-section" data-toggle-section-target="section">
      <div class="spacing-elements"></div>
      <% if @content.summary.blank? %>
        <div id="summary">
          <div class="spinner">
            <div class="loader"></div>
            <p> Loading summary...</p>
          </div>
        </div>
      <% else %>
        <%= render partial: "contents/summary_text", locals: { content: @content } %>
      <% end %>
  </div>


 <!-- Sections Quizz-->
  <div id="quizz-section" data-toggle-section-target="section" style="display: none;" data-controller="quiz-loader" >
      <div class="spacing-elements"></div>
      <turbo-frame id="quizz" src="<%= content_question_path(@content, @content.questions.first&.id) %>">
    </div>

    <div id="askia-section" data-toggle-section-target="section" style="display: none;">
      <div class="spacing-elements"></div>
      <turbo-frame id="chat" src="<%= content_messages_path( @content) %>">
    </div>

    <!-- notes -->
    <div id="notes-section" data-toggle-section-target="section" style="display: none;">
      <div class="spacing-elements"></div>
      <h2>Notes</h2>

      <%= turbo_frame_tag "notes" do %>
        <!-- Formulaire pour ajouter une note -->
        <%= render 'notes/form', content: @content, note: Note.new %>

        <%= render partial: "notes/notes_list", locals: { notes: @content.notes } %>
      <% end %>
    </div>

    <!-- Espacement -->
    <div class="spacing-elements"></div>

    <!-- Bouton pour revenir à la vidéo -->
    <%# <div id="return-button-wrapper" class="hidden">
      <button
        type="button"
        class="small-round-button mt-3"
        data-action="click->toggle-section#hide"
        data-target-id="video-section"
        data-target-wrapper-id="return-button-wrapper">
        ← Retour
      </button>
    </div> %>


<!-- À voir si on garde => détails sur la vidéo -->
    <!-- <div class="container-custom" data-controller="toggle-section"> -->
    <!-- <p><em>Durée : <%= format_duration(@content.duration) %></em></p> -->
    <!-- </div> -->

<!-- À voir si on garde => détails sur la vidéo -->
    <!-- <p>Language <strong><%= @content.language %></strong></p> -->
    <!-- <p>This content is <%= @content.duration %> min long</p> -->

<!-- À voir si on garde => bouton retour sur l'overlay de la vidéo-->
     <!-- <div id="return-button-wrapper" class="hidden">-->
        <!--<button-->
          <!--type="button"-->
          <!--class="small-round-button mt-3"-->
          <!--data-action="click->toggle-section#hide"-->
          <!--data-target-id="video-section"-->
          <!--data-target-wrapper-id="return-button-wrapper">-->
          <!--← Retour-->
        <!--</button>-->
      <!--</div>-->
