<div data-controller="toggle-section" class="b">


  <% if @content.thumbnail.present? %>
    <div class="video-thumbnail-container">
      <%= image_tag @content.thumbnail,
        class: "img-fluid w-100 thumbnail",
        data: { action: "click->toggle-section#toggle", target_id: "video-section" },
        style: "cursor: pointer;" %>

      <!-- Superposition de la vidéo -->
      <div id="video-section"
        data-toggle-section-target="section"
        class="video-overlay hidden">
        <% if (src = youtube_embed_url(@content.url)) %>
          <div class="video-container">
            <iframe
              src="<%= src %>"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        <% else %>
          <p>Impossible d'extraire l'ID YouTube depuis l'URL !</p>
        <% end %>
      </div>
    </div>
  <% end %>

  <!-- Espacement -->
  <div class="spacing-elements"></div>

  <!-- création du container -->

    <div class="container-custom">

  <!-- Espacement -->
  <%= turbo_frame_tag :content_title do %>
        <h1 class="title-show">
          <%= @content.name.truncate(50, omission: "...") %>
        </h1>
        <% end %>

      <div class="button-row">
      <% @content.tags.each do |tag| %>
        <%= button_to "#{tag.name}",
            content_tags_toggle_favorite_path(content_id: @content.id, tag_name: tag.name),
            method: :post,
            class: "small-round-button" %>
      <% end %>
    </div>

  <!-- Container custom -->
      <div class="spacing-elements"></div>
        <div class="carousel-container">
          <div class="button-row button-carousel-slider">
            <%= button_tag 'SUMMARY', type: 'button', class: 'small-round-button', data: { action: "toggle-section#toggle", target_id: "summary-section" } %>
            <%= button_tag 'QUIZZ', type: 'button', class: 'small-round-button', data: { action: "toggle-section#toggle", target_id: "quizz-section" } %>
            <%= button_tag 'ASK IA', type: 'button', class: 'small-round-button', data: { action: "toggle-section#toggle", target_id: "#" } %>
            <%= button_tag 'NOTES', type: 'button', class: 'small-round-button', data: { action: "toggle-section#toggle", target_id: "#" } %>
            <%= link_to 'EDIT', edit_content_path(@content), class: 'edit-custom-button', data: {turbo_frame: :content_title} %>
          </div>
        </div>


  <!-- Sections Summary-->
   <%= turbo_stream_from "content_#{@content.id}_details" %>
  <div id="summary-section" data-toggle-section-target="section" style="display: none;">
    <div class="spacing-elements"></div>
      <h1><%= @content.name %></h1>
      <%= render partial: "contents/summary_text", locals: { content: @content } %>
    </div>


  <br>



  <div id="quizz-section" data-toggle-section-target="section" style="display: none;" data-controller="quiz-loader" >
      <div class="spacing-elements"></div>
      <%= turbo_frame_tag :quizz_container do %>
            <%= link_to generate_questions_content_path(@content), class: 'btn  green-round-button',
        data: { action: "click->quiz-loader#generateQuestions" } do%>
        <i class="fas fa-plus"></i> GENERATE 10 QUESTIONS
        <% end %>

      <br>

      <%= render 'contents/questions', questions: @content.questions  unless @content.questions.empty?%>
    <% end %>
    </div>

    <div id="askia-section" data-toggle-section-target="section" style="display: none;">
      <div class="spacing-elements"></div>
      <p>Fonctionnalité IA à venir...</p>
    </div>

    <div id="notes-section" data-toggle-section-target="section" style="display: none;">
      <div class="spacing-elements"></div>
      <p>Notes utilisateur ici</p>
    </div>
  </div>
</div>

<!-- À voir si on garde => détails sur la vidéo -->
    <!-- <div class="container-custom" data-controller="toggle-section"> -->
    <!-- <p><em>Durée : <%= format_duration(@content.duration) %></em></p> -->
    <!-- </div> -->

<!-- À voir si on garde => détails sur la vidéo -->
    <!-- <p>Language <strong><%= @content.language %></strong></p> -->
    <!-- <p>This content is <%= @content.duration %> min long</p> -->

<!-- À voir si on garde => bouton retour sur l'overlay de la vidéo-->
     <!-- <div id="return-button-wrapper" class="hidden">-->
        <!--<button-->
          <!--type="button"-->
          <!--class="small-round-button mt-3"-->
          <!--data-action="click->toggle-section#hide"-->
          <!--data-target-id="video-section"-->
          <!--data-target-wrapper-id="return-button-wrapper">-->
          <!--← Retour-->
        <!--</button>-->
      <!--</div>-->
