<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <%= link_to contents_path, class: "navbar-brand" do %>
      <%= image_tag "echo_logo.png" %>
    <% end %>

    <div class="navbar-left d-flex align-items-center">
      <!-- Bouton Offcanvas pour mobile : Search -->
      <button class="navbar-search d-block d-sm-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileSearchMenu" aria-controls="mobileSearchMenu" aria-label="Open search">
        <%= image_tag "search_icon.png" %>
      </button>
      <!-- Bouton Offcanvas pour mobile : Menu burger -->
      <button class="navbar-icon d-block d-sm-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu" aria-controls="mobileMenu" aria-label="Toggle navigation">
        <%= image_tag "burger_menu_icon.png" %>
      </button>
    </div>
    <!-- Menu classique pour desktop -->


<div class="offcanvas offcanvas-end d-sm-none" tabindex="-1" id="mobileMenu" aria-labelledby="mobileMenuLabel" style="background: rgba(9, 9, 9, 0.8);">
      <div class="offcanvas-header justify-content-end">
        <%= image_tag "close_cross.png", alt: "Close", class: "btn-close-white", role: "button", data: { bs_dismiss: "offcanvas" }, aria: { label: "Close" } %>
      </div>
      <div class="offcanvas-body">
        <div class="container-custom">
          <h3 class="mb-3">Menu</h3>
           <% if user_signed_in? %>
             <%= link_to "#", class: "nav-link" do %>
              <i class="fa-brands fa-youtube"></i>
            <% end %>
              <%= link_to "#", class: "nav-link" do %>
                <i class="fa-solid fa-house"></i>
              <% end %>
              <%= link_to "#", class: "nav-link" do %>
                <i class="fa-solid fa-bell"></i>
              <% end %>
              <%= link_to "#", class: "nav-link" do %>
                <i class="fa-solid fa-face-smile"></i>
              <% end %>
              <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" do %>
                <i class="fa-solid fa-xmark"></i>
              <% end %>
              <% else %>
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
             <% end %>
        </div>
      </div>
    </div>


    <!-- Offcanvas menu pour mobile : Search -->
    <div class="offcanvas offcanvas-end d-sm-none" tabindex="-1" id="mobileSearchMenu" aria-labelledby="mobileSearchMenuLabel" style="background: rgba(9, 9, 9, 0.8);">
      <div class="offcanvas-header justify-content-end">
        <%= image_tag "close_cross.png", alt: "Close", class: "btn-close-white", role: "button", data: { bs_dismiss: "offcanvas" }, aria: { label: "Close" } %>
      </div>
      <div class="offcanvas-body">
        <div class="container-custom">
          <h3 class="mb-3">Search</h3>
          <%= form_with url: contents_path, method: :get, local: true, data: { turbo_frame: :content } do %>
            <div class="search-container">
              <%= text_field_tag :query, params[:query], placeholder: "Search a content", class: "search-input" %>
              <%= image_tag("search_icon.png", alt: "Search", class: "search-icon") %>
            </div>
            <%= turbo_frame_tag :content %>
          <% end %>
          <%= turbo_frame_tag :content %>
        </div>
      </div>
    </div>
  </div>
</div>
