<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "echo_logo.png" %>
    <% end %>

<div class="navbar-left d-flex align-items-center">
    <!-- Bouton Offcanvas pour mobile -->
    <button class="navbar-search d-block d-sm-none" type="button" >
      <%= image_tag "search_icon.png" %>
    </button>
    <button class="navbar-icon d-block d-sm-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu" aria-controls="mobileMenu" aria-label="Toggle navigation">
      <%= image_tag "burger_menu_icon.png" %>
    </button>
</div>
    <!-- Menu classique pour desktop -->


    <!-- Offcanvas menu pour mobile -->
    <div class="offcanvas offcanvas-start d-sm-none" tabindex="-1" id="mobileMenu" aria-labelledby="mobileMenuLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="mobileMenuLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to "Home", "#", class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Messages", "#", class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Action", "#", class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Another action", "#", class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
