<h1>Générateur de questions et réponses</h1>

<%= simple_form_for @question,  url: generate_question_content_path(@content) do |f| %>
  <div class="form-group">
    <%= label_tag :transcript %>   
    <%= text_area_tag :transcript, value: @transcript %>   
  </div>

  <div class="mt-3">
    <%= button_tag "generer", type: :submit , class: "btn btn-primary" %>
  </div>
<% end %>

<% if flash[:questions_and_answers] %>
  <% data = flash[:questions_and_answers].with_indifferent_access %>
  <div class="mt-5">
    <h2>Résultats générés :</h2>
    <div class="card">
      <div class="card-body">
        <p><strong>Question :</strong> <%= data[:question] %></p>

        <p><strong>Choix :</strong></p>
        <ul>
          <% data[:choices].each do |key, value| %>
            <li><strong><%= key %></strong>: <%= value %></li>
          <% end %>
        </ul>

        <p><strong>Bonne réponse :</strong> <%= data[:correct_answer] %></p>
        <p><strong>Explication :</strong> <%= data[:explanation] %></p>
      </div>
    </div>
  </div>
<% end %>

