<div class="echo-auth">
  <h1 class="echo-title">Log In</h1>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="auth-form">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email", placeholder: "example@gmail.com", class: "auth-input" },
                  label: false %>

      <%= f.input :password,
                  required: true,
                  input_html: { autocomplete: "current-password", placeholder: "Password", class: "auth-input" },
                  label: false %>

      <% if devise_mapping.rememberable? %>
        <div class="remember-me">
          <%= f.input :remember_me, as: :boolean, label: "Remember me" %>
        </div>
      <% end %>

      <%= f.button :submit, "Log In", class: "auth-button" %>
    </div>
  <% end %>

  <div class="auth-legal">
    <%= render "devise/shared/links" %>  
  </div>
</div>


